<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <title>Face off Form</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/theme.css">
</head>
<body style="margin-left: 1rem;">
    <%=  data %>
    <h1 style="text-align: center;">Faceoff Form</h1>

    <form action="/faceofForm" method="POST">
        <div style="display: flex; flex-direction: column;">
            <span style="font-size: 1.5rem; color: darkblue;">Enter Question: </span>
            <textarea style="width: 50%;" name="question"  cols="60" rows="3"></textarea>
        </div>
        <div class="options" >
            <div>
                <span style="font-size: 1.5rem; color: darkblue;">option A: </span>
                <input type="text" name="optionA">
            </div>
            <div>
                <span style="font-size: 1.5rem; color: darkblue;">option B: </span>
                <input type="text" name="optionB">
            </div>
            <div>
                <span style="font-size: 1.5rem; color: darkblue;">option C: </span>
                <input type="text" name="optionC">
            </div>
            <div>
                <span style="font-size: 1.5rem; color: darkblue;">option D: </span>
                <input type="text" name="optionD">
            </div>
        </div>
        <div>
            <p  style="font-size: 1.5rem; color: darkblue; margin-top: 1.5rem;">Select Correct option</p>
            <div>
                <span>A:</span>
                <input type="radio" name="answer" value="A">
            </div>
            <div>
                <span>B:</span>
                <input type="radio" name="answer" value="B">
            </div>
            <div>
                <span>C:</span>
                <input type="radio" name="answer"  value="C">
            </div>
            <div>
                <span>D:</span>
                <input type="radio" name="answer"  value="D">
            </div>
    
        </div>
        <input  style="width: 30%; margin-top: 1rem;" type="submit" value="Submit" class="btn btn-primary">
    </form>

    <div style="margin-top: 20px;" >
        <a href="/end" class="btn btn-danger" >Stop Entering Question and Add some more details</a>
    </div>
</body>

</html>