<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finish Quiz</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/theme.css">
</head>
<body>
    <h1 style="text-align: center;">Please Enter the following details</h1>
    <form action="/finish" method="POST">
        <div style="display: flex; flex-direction: column; margin: 1rem ;">
            <Span style="font-size: 1.5rem ;">Enter Name:</Span>
            <input  style="width: 50%;" type="text" name="name">
        </div>
        <div style="display: flex; flex-direction: column; margin: 1rem ">
            <Span style="font-size: 1.5rem ;" >Enter  Quiz Title:</Span>
            <input style="width: 50%;" type="text" name="title">
        </div>
        <div style="display: flex; flex-direction: column; margin: 1rem">
            <Span style="font-size: 1.5rem ;" >Enter  Quiz  Live Time:</Span>
            <input  style="width: 50%;" type="time" name="live_time">
        </div>
        <div style="display: flex; flex-direction: column; margin: 1rem">
            <Span style="font-size: 1.5rem ;" >Enter  Quiz  Live Date:</Span>
            <input  style="width: 50%;" type="date" name="date">
        </div>
        <input style="margin-left: 1rem;" type="submit" value="submit" class="btn btn-primary">
    </form>
</body>
</html>