<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <title>Home Pge</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="heading" >Create Your Professor Profile</h1>

    <form action="/professor" method="POST">
        <div>
            <input type="text" placeholder="Enter Your Name" name="name" >
        </div>
        <div>
            <input type="text" placeholder="Contact Number" name="number" >
        </div>
        <div>
            <input type="text" placeholder="Qualifications" name="qualification" >
        </div>
        <div>
            <input type="text" placeholder="Institute Name" name="institute" >
        </div>
        <input type="submit" value="Submit" />
    </form>

    <div>
        <a href="/viewProfessors">View All Professors </a>
    </div>
</body>
</html>