<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <title>Home Pge</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="margin-left: 1rem;" >
    <h1 class="heading" >Create Your Professor Profile</h1>

    <form action="/professor" method="POST">
        <div>
            <p style="font-size: 1.5rem;">Name</p>
            <input type="text" placeholder="Enter Your Name" name="name" >
        </div>
        <div>
            <p style="margin-top: 1rem;font-size: 1.5rem;">Select Gender</p>
            <div>
                <span>Male:</span>
                <input type="radio" name="gender" value="male">
            </div>
            <div>
                <span>Female:</span>
                <input type="radio" name="gender" value="female">
            </div>
            <div>
                <span>Other:</span>
                <input type="radio" name="gender"  value="other">
            </div>
        </div>
        <div style="margin:1rem; margin-left:0rem">
            <input type="text" placeholder="Contact Number" name="number" >
        </div>
        <div style="margin:1rem; margin-left:0rem">
            <input type="text" placeholder="Qualifications" name="qualification" >
        </div>
        <div style="margin:1rem; margin-left:0rem">
            <input type="text" placeholder="Institute Name" name="institute" >
        </div>
        <input style="background-color: darkblue; color: white; font-size: 1rem; height: 3rem;  width: 5rem; border-radius:2rem;" type="submit" value="Submit" />
    </form>

    <div>
        <a href="/viewProfessors">View All Professors </a>
    </div>
</body>
</html>